<header>
    <nav class="navigation">
        <div class="left">
            <a href="/">BabyBoo</a>
            <ul>
                <li></li>
                <li><a href="/aboutUs">About Us</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Products</button>
                    <div class="droplist">
                        <a href="/clothes/new">Add Clothes</a>
                        <a href="/clothes">Clothes</a>
                        <a href="/toys">Toys</a>
                    </div>
                </div>
                <li><a href="/shipInfo">Shipping Info</a></li>
            </ul>
        </div>
      </nav>
     
</header>