@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.main-header{
	font-family: Dancing Script;
	margin-bottom: 20px;
}
body{
	background-image: url(bgimg.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
}

h1{
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
}

section{
	margin-left: 220px;
	padding: 0px 10px;
}

.left{
	text-align: left;
}
.navigation{
	float: left;
	height: auto;
	position: fixed;
	width: 220px;
	background-color: gray;
	overflow-x: hidden;
    top: 0;
	left: 0;
	z-index: 1;
	margin-top: 55px;
}

.navigation ul {
  margin: 0;
  padding: 10px;
  text-align: center;
  display: block;
  width: 200px
  
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
  color: white;
  height: 100%
}

.navigation a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.navigation a:hover{
	background-color: rgba(255, 255, 255, .3)
}

.dropbtn {
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.droplist{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.droplist a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: gray;
}

.droplist a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.dropdown:hover .droplist {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgba(255, 255, 255, 0.3);
}