<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= toys.name %>">
  </div>
  <div>
    <label>Availability</label>
    <input type="number" name="availability" value="<%= toys.availability %>">
  </div>
  <div>
    <label>Price</label>
    <input type="number" name="price" value="<%= toys.price %>">
  </div>
  </div>
  <div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
  </div>
  <div>
    <label>Description</label>
    <textarea name="description"><%= toys.description %></textarea>
  </div> 