<h2>Search Toys</h2>
<form action="/toys" method="GET">
  <div>
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
  </div>
  <button type="submit">Search</button>
</form>
<div>
  <% toys.forEach(toys => { %>
    <img height="150" width="100" src="<%= toys.coverImagePath %>">
  <% }) %>
</div> 